In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from statsmodels.stats.weightstats import ztest

In [3]:
data3 = pd.read_csv(r'C:\Users\SIVAN\Desktop\New folder\Sales_add.csv' )

In [4]:
data3.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [6]:
z_stat3,p_value3= ztest(data3['Sales_before_digital_add(in $)'],data3['Sales_After_digital_add(in $)'])

In [7]:
p_value3

1.3046367348248653e-38

In [8]:
if p_value3<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Reject Null Hypothesis